      h1 {
        text-align: center;
      }

      h3 {
        text-align: center;
      }

      ul {
        list-style: none; 
        text-align: center;       
      }

      ul li{
        display: inline-block      
      }
    
      .first {
        background-color: rgb(235, 200, 84);
        font-size: 20px;
        height: 50px;
        text-align: center;
        width: 32%; 
        display: block;
        margin-left: auto;
        margin-right: auto;
        
      }

      .second {
        background-color: rgb(219, 219, 219);
        font-size: 20px;
        height: 50px;
        text-align:center;
        width: 49%;
        display: inline-block 
      }

      .third {
        background-color: rgb(170, 142, 106);
        font-size: 20px;
        height: 50px;
        text-align:center;
        width: 49%;
        display: inline-block 
      }

     

     

      

  